*{
    margin: 5;
    padding: 10px; 
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(232, 238,238);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputcontainer{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;

}
.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 18px;
    font-size: 15px;
}
.input-container input[type="text"]{
    width: 65%;
}
.input-container input[type="button"]{
    background-color:rgb(23, 97, 113);
    color:#fff;
    font-weight: bold;
    margin: 8px;
    cursor: pointer;
    padding: 12px 24px;
}
.input-container input[type="button"]:hover{
    background-color: #232323;
}
ul{
    width: 100%;
    max-height: 450%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
